# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folder
venv/
env/
.venv/

# Ignore IDE/editor config files
.vscode/
*.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db
